/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
};

body p {
	font-family: 'Neuton', serif;
};

.navbar img {
	height: 50px;
};

.container {
	margin-top: 0px;

};

.title {
	margin-top: -60px;
	margin-bottom: 40px;
	vertical-align: center;
	
};

.title h1 {
	font-size: 24px;
};


#map {
	margin-top: 0px;
	border-radius: 20px;
};

footer {
	height: 150px;
	background-color: black;
	color: #fff;
	padding-top: 60px;
	margin-top: 150px;
}



